body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

#pizzaBase {
    position: relative;
    width: 200px; /* Ajusta el tamaño de la base de la pizza */
    height: 200px; /* Ajusta el tamaño de la base de la pizza */
}

#pizza {
    width: 100%;
    height: 100%;
    background-color: #F2C94C; /* Color piel */
    border-radius: 50%; /* Hace que la pizza sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

#toppings {
    position: relative;
    width: 200px; /* Debe ser igual al tamaño de la pizza */
    height: 200px; /* Debe ser igual al tamaño de la pizza */
    overflow: hidden;
}

.topping {
    position: absolute;
    width: 30px; /* Ajusta el tamaño de los ingredientes */
    height: 30px; /* Ajusta el tamaño de los ingredientes */
}

#currentOrder {
    margin: 20px 0;
}
