body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#pizzaContainer {
    position: relative;
    margin-top: 50px; /* Ajuste de la posición de la pizza */
}

#pizzaBase {
    width: 200px; /* Diámetro de la pizza */
    height: 200px;
    background-color: #ffcc99; /* Color de la masa de pizza */
    border-radius: 50%; /* Hacerlo circular */
    position: relative;
}

#toppings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.topping {
    position: absolute;
    color: #fff;
    font-size: 16px;
    pointer-events: none; /* Para que no se pueda interactuar con los ingredientes */
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#currentOrder {
    margin-top: 20px;
    font-weight: bold;
}

#score {
    margin-top: 20px;
}

